<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppHamburguesasCliente"
        tools:targetApi="31">
        <activity
            android:name=".AnadirUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".EditarUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".PagoConfirmadoActivity"
            android:exported="false" />
        <activity
            android:name=".RealizarPagoActivity"
            android:exported="false" />
        <activity
            android:name=".MasInformacionActivity"
            android:exported="false" />
        <activity
            android:name=".AnunciosActivity"
            android:exported="false" />
        <activity
            android:name=".SucursalesActivity"
            android:exported="false" />
        <activity
            android:name=".RecompensasActivity"
            android:exported="false" />
        <activity
            android:name=".EmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".MisUbicacionesActivity"
            android:exported="false" />
        <activity
            android:name=".GestionPuntosActivity"
            android:exported="false" />
        <activity
            android:name=".OlvidoContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".DetallesProductoComboActivity"
            android:exported="false" />
        <activity
            android:name=".PaginaPrincipalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>